.navbar-black {
  background-color: #000;
  text-align: center;
  color: #fff;
  border-radius:0px;
  box-shadow: 0; 
}
.sub-heading--quote {
  color: #222222;
  font-family: Arial;
  font-size: 22px;
  font-style: italic;
  line-height: 32px;
  border-left: 8px solid #222;
  padding-left: 20px;
  margin: 20px 0;
}
.page-content {
  p {
    color: #666666;	
    font-family: Arial;	
    font-size: 18px;	
    line-height: 32px;
  }
}
.logo {
  background: url('/img/drone-logo.png');
  width: 200px;
  height: 200px;
  display: block;
}
.search-component {
  margin: 20px 0;
}
footer {
  &.footer {
    background-color: #222222;
    color: #fff;
    padding: 50px 0px;
  }
}